# 주석문

* 주석문은 샵으로 시작

### 자주 사용하는 키 
* a는 위로 1셀 추가
* b는 아래로 1셀 추가
* x는 셀 삭제
* ctrl + enter: 현재 셀 실행
* alt/opt + enter: 현재 셀 실행하고, 아래 셀 추가
* 숫자 1- 5는 cell을 마크다운으로 변경

In [6]:
"hello world"

'hello world'

In [8]:
 #python에서 코드를 출력하는 방법
# 단, 제일 마지막에 실행되는 1개의 데이터만 출력
'1. 테이터 자체를 실행하는 것'
'2 .테이터 자체를 실행하는 것'
'3. 테이터 자체를 실행하는 것'
'4. 테이터 자체를 실행하는 것'
'5 .테이터 자체를 실행하는 것'

'5 .테이터 자체를 실행하는 것'

In [14]:
print('1. print를 이용 출력하기')
print('2. print를 이용 출력하기')
print('3. print를 이용 출력하기')

1. print를 이용 출력하기
2. print를 이용 출력하기
3. print를 이용 출력하기

### data_type
* 숫자형(정수)
* 숫자형(실수)
* 문자형
* 논리형

### 숫자형

In [17]:
#정수형

123
-123
print(123-123)

0

In [22]:
#실수형
123.213
100.100
print(123.123-100.100)
#23.023이 아님!

23.02300000000001

### 문자형

In [24]:
'문자는 작은/큰 따옴표로 감쌉니다'

'문자는 작은/큰 따옴표로 감쌉니다'

In [26]:
'''
따옴표 3개를 이요아면 가독성이 좋게 멀티라인으로 작성이 가능
가능
'''

'\n따옴표 3개를 이요아면 가독성이 좋게 멀티라인으로 작성이 가능\n가능'

In [28]:
print(
'''
따옴표 3개를 이요아면 가독성이 좋게 멀티라인으로 작성이 가능
'''
)

따옴표 3개를 이요아면 가독성이 좋게 멀티라인으로 작성이 가능

In [30]:
#문자열
# - python은 배열이 존재하지 않습니다
# - 단, 문자만 마치 배열처럼 동작이 가능하게 되어있습니다
a = 'korea bigdate'
a

'korea bigdate'

In [32]:
# a변수에서 3번쨰 방의 값을 출력하기
a[2]

'r'

In [33]:
#문자에 * 연산하기
'a' * 50

'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'

### 논리형

In [34]:
True

True

In [35]:
False

False

In [40]:
print(True == False)
print(0 == False)
print(1 == True)
print('True' == True)

False
True
True
False

## 자료구조
* 자료형은 데이터가 어떻게 생겼는가에 대한 이야기
* 자료구조는 데이터를 어떻게 쌓을 것인 가에 대한 이야기

### 리스트
* 다른 데이터형을 동시에 다룰 수 있는 구조
* []는 리스트를 만듭니다.

In [43]:
[1,2,3]
[1, True, 'korea']

[1, True, 'korea']

In [47]:
#다음의 리스트에서 1번째 방을 출력하기
[1, True, 'korea'][1]

True

In [48]:
# 데이터 타입 확인
print(type('a'))
print(type(1))
print(type(True))
print(type([1,2]))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'list'>

In [50]:
a = [1,2,3]
a

[1, 2, 3]

In [52]:
a[1] = 100
a

[1, 100, 3]

In [54]:
#실습하기 a변수의 2번째 방의 값을 korea로 수정
a[2] = 'korea'
a

[1, 100, 'korea']

### 리스트 값 삭제

In [56]:
del a[0]
a

['korea']

#### 딕셔너리 자료구조
- key, value(쌍)로 이루어진 자료구조
: key는 중복 불가능, value 중복 가능
- {}는 dict를 생성
* 순서가 없습니다

In [61]:
dic_a = {'key1':'value1', 'key2':100, 'key2':'value1'}

In [72]:
#값 조회하기
print(dic_a)
dic_a['key1']
print(dic_a.get('key2'))

{'key1': 'value1', 'key2': 'value1'}
value1

In [75]:
#값 수정, key1의 값을 korea로 수정하기
dic_a['key1'] = 'korea'
dic_a

{'key1': 'korea', 'key2': 'value1'}

In [78]:
#값 추가하기, 실습하기, key3을 추가하셔서 academy를 입력
dic_a['key3'] = 'academy'
dic_a

{'key1': 'korea', 'key2': 'value1', 'key3': 'academy'}

In [85]:
# dic_A에서 key2 삭제 
del dic_a['key2']
dic_a

KeyError: 'key2'

In [90]:
#dict 를 사용하면 좋은 함수
print(dic_a.keys())
print(dic_a.values())
print(dic_a.items())

dict_keys(['key1', 'key3'])
dict_values(['korea', 'academy'])
dict_items([('key1', 'korea'), ('key3', 'academy')])

In [93]:
#모든 요소 삭제
dic_a.clear()

In [94]:
dic_a

{}